* {
    font-family: 'Public Sans', sans-serif;
    color: hsl(233, 8%, 62%);
}

body, nav {
    background-color: hsl(0, 0%, 98%);

}

.navbar-button {
    border-radius: 50px;
    width: 170px;
    height: 40px;
    border: none;
    color: hsl(0, 0%, 100%);
    background: rgb(70,236,114);
    background: linear-gradient(90deg, rgba(70,236,114,1) 35%, rgba(0,212,255,1) 100%);
}

/* .background-image {
    background-image: url(/14-boostrap/14-bootstrap-practica-01/14-bootstrap-practica-01/assets/images/bg-intro-desktop.svg);
} */

h1, h2, h3, h4 {
    color: hsl(233, 26%, 24%);
}

.card {
    background-color: hsl(0, 0%, 98%);
    border: none;
}

.card__icon {
    width: 70px;
    height: 70px;
}

.card__image {
    width: 300px;
    height: 240px;
}

.background-color {
    background-color: hsl(233, 26%, 24%);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}